---
import Layout from "../layouts/Layout.astro";
import constructionImage from "../assets/under-construction.png";
import Window from "../components/Window.astro";
---
<main>

</main>



    <main>
        <img class="lost-image" src={constructionImage.src} alt="A dolphin telling the user they are lost" width="241" height="300">
    <Window headerTitle="Under Construction!">
        <p>Patience is a virtue, but my projects can also be found on my <a href="https://www.linkedin.com/in/justinmjoh/">LinkedIn</a> and <a href="https://github.com/justinmjoh">GitHub</a> while you're waiting.</p> 
    </Window>
    </main>


<style>
    :root {
        --vaporwave-pink: #ff71ce;
        --vaporwave-blue: #01cdfe;
        --vaporwave-green: #05ffa1;
        --vaporwave-purple: #b967ff;
        --vaporwave-yellow: #fffb96;
        --game-gray: #EDEDED;
    }
    main {
        display: grid;
        justify-items: center;
        row-gap: 48px;
    }
    .lost-image {
        filter: drop-shadow(5px 10px 10px);
        animation: float 3s ease-in-out infinite;
    }
    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>